@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
    text-decoration: none;
}

body{
    background: #8A2BE2;
}

section{
    padding: 50px 50px;
}

.fundo{
    padding: 25px 25px;
    border-radius: 10px;
    background: white;
}

.champ3{
    text-align: center;
    font-size: 30px;
    color: #8A2BE2;
}

img{
    border-radius: 10px;
}

.text{
    font-size: 20px;
}

.text a{
    color: #8A2BE2;
}